.filter-panel {
  padding: 1rem;
  border: 1px solid #ddd;
  display: grid;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
  input, select {
    padding: 10px;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 20px;
  button {
    height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    &.primary {
      background-color: rgb(18, 131, 18);
      color: #ddd;
    }
  }
}